---
import Model from './Model';
import Typing from './Typing';
---

<div class="relative flex justify-center items-center h-[65vh] w-full">
	<div class="w-2/5 absolute left-10">
		<Typing client:load />
	</div>
	<div class="w-3/5 h-full absolute right-0">
		<Model client:load />
	</div>
</div>
