---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="flex flex-col items-center">
		<h1 class="noticia font-bold text-xl">Portfolio</h1>
		<p class="">Here is my portfolio</p>
	</div>
</Layout>


