---
import Layout from '../layouts/Layout.astro';
import HeroImage from '../components/heroImage/HeroImage.astro';
import Profile from '../components/Profile.astro';
import Bio from '../components/Bio.astro';
---

<Layout>
	<div class="flex flex-col items-center">
		<HeroImage />
		<Profile />
		<Bio />
	</div>
</Layout>
