---
import Logo from './Logo.astro'
import ThemeToggleButton from './ThemeToggleButton.tsx'
import { IoLogoGithub } from "react-icons/io5";
import { RxHamburgerMenu } from "react-icons/rx";
---

<header class="fixed w-full z-10 flex items-center backdrop-blur-md ">
  
  <div class="flex-grow">
    <Logo />
  </div>
    

  <div class="flex-grow hidden md:flex justify-center md:w-auto mt-4 md:mt-0">
    <a href="/">Home</a>
    <span class="mx-2">/</span>
    <a href="/work">Work</a>
    <span class="mx-2">/</span>
    <a href="/post">Post</a>
  </div>

  <!-- Here ThemeToggleButton -->
  <div class="flex-grow flex justify-end items-center mr-2">
    <a href="https://github.com/Ahoxa/MyPortfolio" class="w-10 h-10 flex justify-center items-center mr-2"><IoLogoGithub size={35} /></a>
    <ThemeToggleButton client:load />

    <div class="dropdown dropdown-bottom dropdown-end inline-block md:hidden">
      <div tabindex="0" role="button" class="btn bg-transparent text-current m-1"><RxHamburgerMenu /></div>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/">Home</a></li>
        <li><a href="/work">Work</a></li>
        <li><a href="/post">Post</a></li>
      </ul>
    </div>

  </div>

</header>
