<h1 class="text-[3rem] font-bold underline mb-5">Bio</h1>
<ul
	class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical"
>
	<li>
		<div class="timeline-middle">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="h-10 w-10"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start md:text-end mb-10">
			<time class="age">2000</time>
			<div class="text-lg font-black">Born in the Tottori（鳥取）, Japan.</div>
			I was born in Tottori, Japan. I then grew up in Tottori until the age of 18.
			I was a cocky boy.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="h-10 w-10"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time class="age">2019</time>
			<div class="text-lg font-black">
				Entered the Faculty of Economics, Osaka University.
			</div>
			After a year as a ronin, I entered Osaka University and stated to specialize
			in microeconomics, influenced by the MMA and the De-Growth Theory of Serge
			Latouche. However, I found the theory inconsistent and lost interest in economics.
			Then changed my specialization to statistics.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="h-10 w-10"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-start md:text-end mb-10">
			<time class="age">2020</time>
			<div class="text-lg font-black">
				Encounters Python and begins to learn programming with a focus on data
				science.
			</div>
			I started learning applied statistics using Python and R. I developed a basic
			knowledge of machine learning libraries with Scikit-learn as well as Pandas.
		</div>
		<hr />
	</li>
	<li>
		<hr />
		<div class="timeline-middle">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 20 20"
				fill="currentColor"
				class="h-10 w-10"
				><path
					fill-rule="evenodd"
					d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
					clip-rule="evenodd"></path></svg
			>
		</div>
		<div class="timeline-end mb-10">
			<time class="age">2025</time>
			<div class="text-lg font-black">The best start in the best company.</div>
			After taking a year off from school, I decided that I wanted to make manufacturing
			my profession. Although I am still inexperienced, I will work as the best developer
			in the best company.
		</div>
	</li>
</ul>

<style>
	.age {
		font-family: Cardo, serif;
		font-weight: 700;
		font-size: 1.5rem;
		font-style: italic;
	}
</style>
