---
import Header from '../components/header/Header.astro';
import Footer from '../components/Footer.astro';
const { title } = Astro.props;
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ahoxa Portfolio{title}</title>
		<ViewTransitions />
	</head>
	<!-- body-height is an unique class not a tailwind -->
	<body
		class="bg-beige-200 dark:bg-navy-200 text-navy-200 dark:text-beige-100 transition-colors duration-500 body-height flex flex-col items-center"
	>
		<Header />
		<div class="w-[90%] md:max-w-[1256px] pt-20">
			<slot />
		</div>
		<Footer />
		<style is:global>
			/* here, import Merriweather, Cardo and Cormorant Garamond */
			@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@400;700&family=Cormorant+Garamond&family=Merriweather:wght@300;400;700&display=swap');
			body {
				font-family: 'Merriweather', serif;
				-webkit-font-smoothing: antialiased;
				text-rendering: optimizeLegibility;
				overflow-wrap: break-word;
			}
			.body-height {
				min-height: 100vh;
			}
		</style>
	</body>
</html>
