---
import Header from '../components/header/Header.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Ahoxa Portfolio</title>
	</head>
	<body
		class="bg-beige-200 dark:bg-navy-200 text-navy-200 dark:text-beige-100 transition-colors duration-500"
	>
		<Header />
		<slot />
	</body>
	<style is:global>
		/* here, import Noticia Text, Cardo and Cormorant Garamond */
		@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Cormorant+Garamond&family=Noticia+Text&display=swap');

		body {
			font-family: 'Noticia Text', serif;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			overflow-wrap: break-word;
		}
	</style>
</html>
